<div>
    <h2>Enter a zipcode:</h2>
    <input placeholder="Zipcode" type="text" id="addLocation" [formControl]="zipCode" />
    <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)">
        <div *ngIf="zipCode.errors?.['required']">Zip code is required to watch a new city.</div>
        <div *ngIf="zipCode.errors?.['pattern']">Zip code must be 5 digits.</div>
    </div>
    <br />
    <button id="addLocationBtn" [disabled]="zipCode.invalid" (click)="addLocation()">
        Add location
    </button>
</div>
