<div *ngIf="forecastWeather$ | async as forecastWeather; else noCity">
    <div>
        <h3>5-day forecast for {{ forecastWeather.city.name }}</h3>
    </div>
    <ul>
        <li *ngFor="let weather of forecastWeather.weathers">
            {{ weather.datetime | date: 'fullDate' }}: {{ weather.condition }} - Min: {{ weather.temperatureMin }} -
            Max: {{ weather.temperatureMax }}

            <img class="icon" [src]="weather.condition | weatherIconUrl" [alt]="weather.condition" />
        </li>
    </ul>
</div>
<ng-template #noCity>
    <div>The city doesn't exist</div>
</ng-template>

<button tabindex="0" id="mainPageBtn" routerLink="/">&lt; Back to main page</button>
